<div class="row">
    <div class="col-sm">
        <app-navigation-bar></app-navigation-bar>
        <div class="head-tab">
            <div class="btn-group" id="btn-grp-1">
                <button class="button" (click)="onSort()">Today</button>
                <button class="button" (click)="onSort()">This Week</button>
                <button class="button" (click)="onSort()">Next Week</button>
                <button class="button" (click)="onSort()">Next Month</button>
            </div>
            <div class="btn-group" id="btn-grp-2">
                <button class="button" (click)="onSort()">Events</button>
                <button class="button" (click)="onSort()">Vendors</button>
            </div>
        </div>
        <div class="result-box">
            <h3 class="text-center">{{Topic}}</h3>
            <p class="text-center">{{description}}</p>
            <div class="inner-box">
              <div class="d-flex flex-row mb-3" id="content-1" *ngFor="let Serverid of servers">
                    <div class="p-2 mr-auto "><img src="assets/Images/confirm.svg" alt="sample image"></div>
                    <div class="p-3 flex-grow-1">
                      <p class="text-center" id="h-mini-topic">{{miniTopic}}</p>
                      <P class="text-left" id="h-para">Venue :<span>{{description}}</span></P>
                      <P class="text-left" id="h-para">Date :<span>{{description}}</span></P>
                      <P class="text-left" id="h-para">Tickets :<span> {{description}}</span></P>
                      <P class="text-left" id="h-para">Registration Status :<span>{{description}}</span></P>
                    </div>
                    <div class="p-4">
                        <button class="button">></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="Footer">
            <app-sub-viewer></app-sub-viewer>
        </div>
    </div>
</div>
