<div class="row">
  <div class="col-sm">
      <div class="Login-frm">
            <p class="text-left" id="para-1">World</p>
            <p class="text-left" id="para-2">Best, Better</p>
            <p class="text-left" id="para-3">Event Manager.</p>
          <div class="container" id="card">
              <h2 class="text-center">Welcome to Meduza.</h2>
              <h3 class="text-center">LOGIN</h3>
              <form [formGroup]="loginForm">
                <div class="form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="loginForm.controls.email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" required>
                    <mat-error *ngIf="loginForm.controls.password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <p>Get Start Today.  Please <a href="#" routerLink="/signin">Signup.</a></p>
                <button type="submit" class="btn btn-primary"  (click)="saveUser(loginForm)">Login</button>
<!--                <button type="submit" class="btn btn-primary"  routerLink="/plannerprofile">Login</button>-->
              </form>
          </div>
      </div>
  </div>
</div>
