<div class="row">
    <div class="col-sm">
        <div class="d-flex about-section">
            <div class="p-2 container mt-3">
              <p class="text-center" id="main-topic">Build a better event</p>
              <p class="text-center" id="topic-mini1">with us</p>
              <p class="text-center" id="topic-mini2">To</p>
              <p class="text-center" id="topic">Feel success of the event.</p>
              <p class="font-weight-bold text-center" id="para-1">The entry of Health First Hospitals into the state dominated healthcare sector in 1932, saw the ayurvedic health care system take root in Sri Lanka. The launch of the hospital and the overwhelming response it received from the people demonstrated a long felt need for superior healthcare in a pleasant environment.</p>
            </div>
            <div class="p-2 flex-grow-1 part-img">
                <img src="assets/Images/banner1.svg" alt="About of HealthFirst"
                                      alt="image">
            </div>
        </div>
    </div>
</div>
