.about-section #main-topic{
    color: brown;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 4%;
}
.about-section #topic{
    color: brown;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
}
.about-section #topic-mini1{
    color: brown;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}
.about-section #topic-mini2{
    color: brown;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0px;
}
.about-section #para-1{
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10%;
}

.about-section .part-img{
    width: 50%;
}

.about-section .part-img img{
    height: 500px;
}