<div class="row">
  <div class="col-sm">
   <div class="inner-box">
    <div class="p-2 " *ngFor="let Serverid of servers" id="detail-crd">
        <div class="row">
            <div class="col-md-9" id="heding">
                <pre class="card card-block card-header">{{message}}</pre>
            </div>
            <div class="col-md-3">
              <button type="button" class="btn " (click)="isCollapsed = !isCollapsed"
                      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseEvent">
                      <pre class="card card-block card-header"><img src="{{icon}}"></pre>
              </button>
              <button class="button" id="deletebtn" (click)="onRemove()"><img src="{{icon2}}"></button>
            </div>
          </div>
          <hr>
          <div id="collapseEvent"
               [isAnimated]="true"
               [collapse]="isCollapsed"
               (collapses)="collapses()"
               (expands)="expands()"
               (collapsed)="collapsed()"
               (expanded)="expanded()">

             <div class="well well-lg card card-block card-header">
                 <p id="topic">Description :</p>
                 <hr>
                 <p id="para-1">Pay here</p>
                 <hr>
                 <p id="topic">Prices :</p>
                 <hr>
                 <div class="d-flex" id="activity">
                     <div class="p-2 flex-fill">
                        <p id="price">{{price1}}</p>
                     </div>
                     <div class="p-2 flex-fill">
                        <p id="price">{{price2}}</p>
                     </div>
                 </div>
                 <div class="d-flex" id="activity">
                    <div class="p-2 flex-fill">
                     <p id="topic">Conditions :</p>
                    </div>
                    <div class="p-2 flex-fill">
                     <p id="topic"> - </p>
                    </div>
                </div>
             </div>
          </div>
    </div>
</div>
</div>
</div>
