<div class="Login-frm">
    <div class="container" id="card">
        <!-- <div class="btn-grp-2">
            <button type="button" class="btn" id="button-1" routerLink="/login">LogIn</button>
            <button type="button" class="btn" id="button-2" routerLink="/signin">SignUp</button>
        </div> -->
        <h2 class="text-center">Account Settings</h2>
        <div class="btn-group" dropdown placement="bottom right">
            <button id="button-alignment" dropdownToggle type="button"
                    class="btn dropdown-toggle" aria-controls="dropdown-alignment">
                    Account Settings
                    <span class="caret"></span>
            </button>
            <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                role="menu" aria-labelledby="button-alignment">
              <li role="menuitem"><a class="dropdown-item " href="#" routerLink="/PlannerProfileEdit">Profile Settings</a></li>
            </ul>
        </div>
        <form >
          <p class="text-left" id="change-pwd">Chage Credentials</p>
          <hr>
          <div class="form-group">
            <label for="uname">Email:</label>
            <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
          </div>
          <!-- <div class="form-group">
            <label for="sel1">User Type:</label>
            <select class="form-control" id="sel1">
              <option>Event Palnner</option>
              <option>Vendor</option>
            </select>
          </div> -->
          <hr>
          <p class="text-left" id="change-pwd">Chage Password</p>
          <hr>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
          </div>
          <div class="form-group">
            <label for="pwd">Re Enter Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" required>
          </div>
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" required> I agree on <a href="#" id="terms">Terms and Conditions.</a>
            </label>
          </div>
          <button type="submit" class="btn "  routerLink="/vendorprofile">Confirm</button>
        </form>
    </div>
</div>

