<div class="row">
    <div class="col-sm">
        <div class="footer">
            <div class="d-flex">
              <div class="p-2 flex-fill" id="frst">
                <h4 class="text-center">Quick Links</h4>
                <p>Home</p>
                <p>Our Centers</p>
                <p>News</p>
                <p>Contact Us</p>
                <p>Register</p>
                <p>Login</p>
              </div>
              <div class="p-2 flex-fill" id="scnd">
                <p id="sec-link">About Us</p>
                <p>Medical Pckages</p>
                <p>medical Services</p>
                <p>International patients</p>
                <p>CSR projects</p>
              </div>
              <div class="p-2 flex-fill" id="foot-img">
                <h4 class="text-center">Follow us on</h4>
                <p class=" text-left"><a  href="#"><img src="assets/img/in.png"  alt="Linkedin"></a></p>
                <p class=" text-left"><a  href="#"><img src="assets/img/twtr.png"  alt="Twitter"></a></p>
                <p class="text-left"><a  href="#"><img src="assets/img/wts.png"  alt="Whatsapp"></a></p>
                <p class="text-left"> <a  href="#"><img src="assets/img/yt.png"  alt="Youtube"></a></p>
              </div>
              <div class="p-2 flex-fill">
                <h4 class="text-center">Health First Medical Center</h4>
                <p  id="sec-link1">About Us</p>
                <p >Medical Pckages</p>
                <p >medical Services</p>
                <p >International patients</p>
                <p >CSR projects</p>
              </div>
            </div>
            <div class="bot-footer">
              <p class="text-center">Copyright © Nawaloka Hospitals PLC.<br>
                23, Deshamanya H. K Dharmadasa Mawatha, Colombo 2, Sri Lanka. All rights reserved.<br>
                Solution by Fortunacreatives</p>
            </div>
          
          </div>
    </div>
</div>
