<div class="main-body">
    <div class="heading">
        <p id="head-1">{{Name}}</p>
        <p id="head-2">{{Heading}}</p>
    </div>
    <div class="bottom-part">
        <div class="d-flex justify-content-center">
            <div class="p-2" id="part-1">
                <div class="profile-dp">
                    <img src="./../../../assets/Images/pf.jpg" alt="Girl-work">
                </div>
                <div class="links">
                    <a href="#" id="first-lnk"><img src="./../../../assets/Images/facebook.svg"></a>
                    <a href="#"><img src="./../../../assets/Images/instagram.svg"></a>
                    <a href="#"><img src="./../../../assets/Images/linkedin.svg"></a>
                    <a href="#"><img src="./../../../assets/Images/whatsapp.svg"></a>
                </div>
            </div>
            <div class="p-2" id="part-2">
                <p>I am enthusiastic person in learning new technologies and create innovative things.And extremly motivated to constantly develop my skills and grow professionally.I'm confident in my ability to come up with interesting ideas.</p>
            </div>
        </div>
        <hr>
    </div>
</div>
