.main-body .heading{
    background-color: rgb(41, 48, 59);
    padding: 10px 10px 10px 10px;
    color: seashell;
}
.main-body .heading #head-1{
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10%;
}
.main-body .heading #head-2{
    font-size: 20px;
    margin-left: 10%;
}
.main-body .bottom-part{
    margin-top: 40px;
}
.main-body .bottom-part #part-1{
    /* width: 50%; */
    margin-right: 20px;
}
.main-body .bottom-part hr{
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgb(41, 48, 59);
}
.main-body .bottom-part .p-2 .profile-dp{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.main-body .bottom-part .p-2 .profile-dp img{
    height: 100px;
    width: 100px;
}
.main-body .bottom-part #part-2{
    max-width: 50%;
    margin-left: 10px;
}
.main-body .bottom-part .p-2 .links a{
    margin-left: 10px;
}
.main-body .bottom-part .p-2 .links a img{
    height: 20px;
    width: 20px;
}
