<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <a class="navbar-brand col-1.5" href="#"><img src="assets/Images/logo.png" alt="image"></a>
    <ul class="navbar-nav col-9" id="pag-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/discover">Discover</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" routerLink="/evnt-planner-view" id="navbardrop" >
          Health Services
        </a>
      </li>
    </ul>
    <ul class="navbar-nav  navbar-right " id="acc">
      <li><a href="#" routerLink="/signin"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>